
@font-face{
    font-family: FiraCode;
    src: url('../fonts/Fira_Code/FiraCode-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}


@font-face{
    font-family: PressStart;
    src: url('../fonts/Press_Start_2P/PressStart2P-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}



.main-prompt{
    background: #212020;
    min-height: 350px;
   
}

.editor-prompt{
    padding: 12px;
    color: #e3ecf5;
}

.header-prompt{
    padding: 9px;
    background: #5a5a5ac2;
}

.header-prompt:last-child{
   text-align: center;
}

.btn-action{
    height: 15px;
    width: 15px;
    margin: 0px 4px;
    display: inline-block;
    border-radius: 50%;
}

.btn-close{
    background: #de4848;
    border: 1px solid #ec1717;
}

.btn-min{
    background: #ffec52;
    border: 1px solid #fde900;
}

.btn-max{
    background: #76e640;
    border: 1px solid #4cf506;
}

.action-prompt{
    position: absolute;
}

.info-prompt{
    text-align: center;
    width: 100%;
}

.title-prompt{
    color: white;
    font-family: FiraCode;
    font-weight: 400;
    font-size: 14px;
}

.editor-prompt{
    font-family: FiraCode;
    font-weight: 100;
    font-size: 14px;
}

.prompt-cursor{
    background: white;
    display: inline-block;
    height: 18px;
    width: 4px;
    vertical-align: middle;
    animation: cursor-blink 1s step-start 0s infinite;
    -webkit-animation: cursor-blink 1s step-start 0s infinite;
}

@keyframes cursor-blink{
    50% {
        opacity: 0.0;
     }
}

@-webkit-keyframes cursor-blink{
    50% {
        opacity: 0.0;
     }
}










